html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App{
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  width: auto;
  position: relative;
  min-height: 100%;
  box-shadow: 0 0 20px #0000000d;
}

.search-bar{
  margin: 0 auto;
  max-width: 480px;
  box-sizing: border-box;
  position: fixed; 
  top: 0; /* 화면 상단에 고정 */
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 48px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc; 
  z-index: 1000; /* 다른 요소들보다 위에 위치 */
}

.under-bar {
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed; /* 고정 위치로 설정 */
  bottom: 0; /* 화면 하단에 고정 */
  right: 0;
  height: 48px;
  background: #fff; /* 배경색 */
  border-top: 1px solid #ccc; /* 상단 경계선 */
  display: flex;
  align-items: center;
  justify-content: center; /* 내용 중앙 정렬 */
  z-index: 1000; /* 다른 요소들보다 위에 위치 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
